.guide{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-areas: 
    "main aside";
}

.main{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 75px;
    grid-template-areas: 
    "instructions"
    "guideMenu";
}

.exitBtn{
    width: 100px;
    height: 75px;
    background-color: #BCCC8D;
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
}

.aside{
    background-color: #F0EEEB;
    min-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.asideContainer{
    width: 80%;
    min-width: 200px;
    margin: 0 auto;
}

.asideContainer h1{
    color: #E8411B;
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
}

.asideContainer h2{
    text-align: left;
    font-weight: normal;
    font-size: 1.8rem;
    margin-top: 2rem;
}

.guideMenu{
    display: flex;
    flex-direction: row;
}

.progressbarWrapper{
    flex: 8;
    /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; */
}

.scrollButton{
    flex: 1;
    min-width: 100px;
    background-color: #535C27;
    color: #F0EEEB;
}

button:focus{
    outline: 0 !important;
}


.progressbarOutline{
    width: 100%;
    height: 70%;
    position: relative;
    top: 100%;
    transform: translateY(-100%);
    border-top: 1px solid black;
}

.progressbarFiller{
    height: 100%;
    width: 20%;
    background-color: #FADFC6;
    transition-duration: 200ms;
}

.progressText{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.instructions{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.instructionImageWrapper{
    flex: 1;
    /* background-color: black; */
    display: flex;
    align-items: center;
    padding-top: 15%;
}

.instructionImageWrapper>img{
    max-width: 85%;
    max-height: 85%;
    margin: 0 auto;
}

.instructionTextWrapper{
    text-align: center;
    flex: 2;
    font-size: 3rem;
    max-width: 700px;
    width: 80%;
    margin: 0 auto;

}

.mentalNote{
    width: 95%;
    min-width: 200px;
    margin: 0 auto;
    padding: 1rem;
}

.notePrefix{
    color:  #E8411B;
    font-size: 1.3rem;
}

.noteText{
    font-size: 1.3rem;
}

.recipeTimer{
    width: 95%;
    min-width: 200px;
    margin: 0 auto;
    padding: 1rem;
    /* background-color: white;
    border-radius: 1rem; */
}

.timerText{
    font-size: 1.3rem;
    color: rgb(37, 37, 37);
}

.timerValue{
    font-size: 1.3rem;
}

.timerValPrefix{
    color:  #E8411B;
    font-size: 1.3rem;
}