.guide{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-areas: 
    "main aside";
}

.main{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 75px;
    grid-template-areas: 
    "instructions"
    "guideMenu";
}

.exitBtn {
    position: fixed;
    left: 1rem;
    top: 1rem;
    /* border: 2px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem 2rem;
    font-size: 1.3rem;
    border-radius: 0.4rem;
}
.exitBtn:hover {
    background-color: rgb(233, 233, 233);
}

.commandFeedback{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(27, 27, 27, 0.6);
    border-radius: 1rem;
    border: 1.5px solid white;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 90px;
    width: 300px;
    height: 90px;
}

.voiceControl{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 400px;
    height: 40px;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.2rem 1rem 1rem 1rem;
}

.voiceControl>h2{
    color: white;
    font-size: 1.2rem;
    display: inline;
}

.toggleVoice{
    padding: 0.2rem;
    border-radius: 0.1rem;
    background-color: white;
}

.voiceControl .feedback{
    margin-left: 0.8rem;
    color: white;
}


.aside{
    background-color: #F0EEEB;
    min-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: auto;
}

.asideContainer{
    width: 80%;
    min-width: 200px;
    margin: 0 auto;
    padding-bottom: 2rem;
    overflow-y: scroll;
}

.asideContainer h1{
    color: #E8411B;
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
}

.asideContainer h2{
    text-align: left;
    font-weight: normal;
    font-size: 1.8rem;
    margin-top: 2rem;
}

.guideMenu{
    display: flex;
    flex-direction: row;
}

.progressbarWrapper{
    flex: 8;
    /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; */
}

.scrollButton{
    flex: 1;
    min-width: 100px;
    background-color: #535C27;
    color: #F0EEEB;
}

.scrollButton:hover{
    background-color: #3f461e;
}

button:focus{
    outline: 0 !important;
}


.progressbarOutline{
    width: 100%;
    height: 70%;
    position: relative;
    top: 100%;
    transform: translateY(-100%);
    border-top: 1px solid black;
}

.progressbarFiller{
    height: 100%;
    width: 20%;
    background-color: #FADFC6;
    transition-duration: 200ms;
}

.progressText{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.instructions{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}

.instructionImageWrapper{
    /* height: 50%; */
    width: 80%;
    min-width: 400px;
    flex: 4;
    /* background-color: black; */
    /* display: flex;
    align-items: center; */
    /* padding-top: 15%; */
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    margin: 5rem auto 1rem auto;
    min-width: ;
}

.instructionTextWrapper{
    text-align: center;
    flex: 1;
    font-size: 3rem;
    max-width: 700px;
    width: 80%;
    margin: 0 auto;

}

.mentalNote{
    width: 95%;
    min-width: 200px;
    margin: 0 auto;
    padding: 1rem;
}

.notePrefix{
    color:  #E8411B;
    font-size: 1.3rem;
}

.noteText{
    font-size: 1.3rem;
}

.recipeTimer{
    width: 95%;
    min-width: 200px;
    margin: 0 auto;
    padding: 1rem;
    /* background-color: white;
    border-radius: 1rem; */
}

.timerText{
    font-size: 1.3rem;
    color: rgb(37, 37, 37);
}

.timerValue{
    font-size: 1.3rem;
}

.timerValPrefix{
    color:  #E8411B;
    font-size: 1.3rem;
}

.userFeedback{
    width: 95%;
    min-width: 200px;
    margin: 0 auto;
    padding: 1rem;
}

.feedbackText{
    font-size: 1.3rem;
    color: rgb(37, 37, 37);
}

.userFeedbackBtn{
    width: 75%;
    height: 3rem;
    padding: 0.2rem;
    min-width: 180px;
    border-radius: 1rem;
    margin: 1rem;
    background-color: #E8411B;
    font-size: 1.5rem;
    color: white;
}

.userFeedbackBtn:hover{
    background-color: #942a12;
}